.results-section {
  min-height: 100vh;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 60%,
    rgba(244, 163, 67, 0.8) 60%,
    rgba(244, 163, 67, 0.8) 100%
  );

  // prebaÄeno u svoj file za sada
  // .next-page {
  //   display: flex;
  //   justify-content: center;
  //   width: 60%;

  //   .load-next {
  //     margin-left: 1.5rem;
  //   }
  // }
}
