.myCollection-section {
  min-height: 100vh;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 60%,
    rgba(244, 163, 67, 0.8) 60%,
    rgba(244, 163, 67, 0.8) 100%
  );
}
