.feather-image {
  display: inline-block;
  background-image: url("../images/featherImg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 30%;
  position: fixed;
  right: 2%;
  bottom: 10%;
}
