.feather-image {
  display: inline-block;
  background-image: url("../images/featherImg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 30%;
  position: fixed;
  right: 2%;
  bottom: 10%;
}

/* 720px */
@media only screen and (max-width: 720px /*xyrem*/) {
  .feather-image {
    display: none;
  }
}

// --------------------------- REZULTATI
/* 880px */
@media only screen and (max-width: 880px /*xyrem*/) {
  .results-section,
  .genres-section,
  .myCollection-section,
  .single-book-section {
    .feather-image {
      display: none;
    }
  }
}
