.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    &.results {
      width: auto;
      margin-left: 1.5rem;
    }

    .navigation-link {
      margin-right: 1.5rem;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
