.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;

  & > a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 2.5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    &-image {
      font-size: 3rem;
    }
    &-name {
      font-size: 0.9rem;
      font-weight: 900;
    }
  }

  .navigation-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    .navigation-link {
      position: relative;

      &:nth-child(2):hover .genres-list {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, 0);
      }

      a {
        text-decoration: none;
        color: white;

        .menu-open {
          margin-left: 0.5rem;
        }
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}
