.search-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 50rem;
  margin-left: auto;
  margin-right: 2.5rem;
  padding-right: 0;
  padding-left: 0;

  .search-form {
    width: 100%;
    display: flex;
    position: relative;
    height: fit-content;

    .search-input {
      width: 100%;
      height: 3.5rem;
      border-radius: 20px;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.5);
      padding-left: 1.5rem;
      padding-right: 3rem;
      color: white;
    }

    .search-button-link {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: none;
      cursor: pointer;

      .search-button {
        border: none;
        background: none;
        cursor: pointer;
        color: white;
      }
    }
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .search-container {
    width: 40rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px /*xyrem*/) {
  .search-container {
    width: 30rem;
    margin-right: 2rem;
  }
}

/* 740px */
@media only screen and (max-width: 740px /*xyrem*/) {
  .search-container {
    width: 100%;
    margin-right: 0;
    margin-top: 1.5rem;
    order: 5;
  }
}
