.home-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: max-content 1fr;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 60%,
    rgba(244, 163, 67, 0.8) 60%,
    rgba(244, 163, 67, 0.8) 100%
  );

  .header-title {
    grid-column: 1 / 2;
    align-self: flex-end;
    padding-left: 8.5rem;
    padding-bottom: 1rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}

/* 720px */
@media only screen and (max-width: 720px /*xyrem*/) {
  .home-section {
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 55%,
      rgba(244, 163, 67, 0.8) 55%,
      rgba(244, 163, 67, 0.8) 100%
    );
  }
}

/* 640px */
@media only screen and (max-width: 640px /*xyrem*/) {
  .home-section {
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 45%,
      rgba(244, 163, 67, 0.8) 45%,
      rgba(244, 163, 67, 0.8) 100%
    );
  }
}

/* 530px */
@media only screen and (max-width: 530px /*xyrem*/) {
  .home-section {
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 40%,
      rgba(244, 163, 67, 0.8) 40%,
      rgba(244, 163, 67, 0.8) 100%
    );
  }
}

/* 460px */
@media only screen and (max-width: 460px /*xyrem*/) {
  .home-section {
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 30%,
      rgba(244, 163, 67, 0.8) 30%,
      rgba(244, 163, 67, 0.8) 100%
    );
  }
}
