@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "./home/home";
@import "./shared/navigation";
@import "./home/header";
@import "./home/homeQuotes";
@import "./shared/search";
@import "./results/results";
@import "./results/resultsList";
@import "./myCollection/myCollection";
@import "./myCollection/myCollectionList";
@import "./shared/genresList";
@import "./genres/genres";
@import "./genres/genresResultsList";
@import "./shared/featherImg";
@import "./shared/paginations";
@import "./singleBook/singleBook";
@import "./singleBook/singleBookDescription";
@import "./shared/bookStatusCurrent";
@import "./shared/startRating";
@import "./shared/loading";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/backgroundBook.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
}
