.home-section {
  height: 100vh;
  padding: 2rem;
  font-size: 1.5rem;
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  padding-top: 0.3rem;
}

.navigation .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.navigation .navigation-links .navigation-link {
  position: relative;
}

.navigation .navigation-links .navigation-link:nth-child(2):hover .genres-list {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation .navigation-links .navigation-link a {
  text-decoration: none;
  color: black;
}

.navigation .navigation-links .navigation-link:not(:last-child) {
  margin-right: 1.5rem;
}

.header .header-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: 2.5rem;
}

.search-container.hidden {
  visibility: hidden;
}

.search-container .search-form {
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-container .search-form .search-input {
  width: 100%;
  height: 3.5rem;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  padding-left: 1rem;
  padding-right: 3rem;
}

.search-container .search-form .search-button-link {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.search-container .search-form .search-button-link .search-button {
  border: none;
  background: none;
  cursor: pointer;
}

.search-container .search-container-error-message {
  display: none;
  position: absolute;
  bottom: -2.5rem;
  color: red;
}

.search-container .search-container-error-message.show {
  display: block;
}

.home-books-pictures {
  color: red;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-section {
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.5rem;
}

.results-section .next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-section .next-page .load-next {
  margin-left: 1.5rem;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-container .results-list {
  list-style: none;
  width: 50rem;
}

.results-container .results-list .results-list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -ms-grid-rows: (max-content)[4];
      grid-template-rows: repeat(4, -webkit-max-content);
      grid-template-rows: repeat(4, max-content);
}

.results-container .results-list .results-list-item .book-image-cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 14rem;
}

.results-container .results-list .results-list-item .book-image-cont .book-image {
  height: 100%;
}

.myCollection-section {
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.5rem;
}

.myCollection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myCollection-container .myCollection-list {
  list-style: none;
  width: 50rem;
}

.myCollection-container .myCollection-list .myCollection-list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -ms-grid-rows: (max-content)[4];
      grid-template-rows: repeat(4, -webkit-max-content);
      grid-template-rows: repeat(4, max-content);
}

.myCollection-container .myCollection-list .myCollection-list-item .book-image-cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 14rem;
}

.myCollection-container .myCollection-list .myCollection-list-item .book-image-cont .book-image {
  height: 100%;
}

.genres-list {
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  background: red;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.genres-section {
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.5rem;
}

.results-container.genres {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  background: white;
}
/*# sourceMappingURL=style.css.map */