@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.home-section {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
  background-image: linear-gradient(to right, transparent 0%, transparent 60%, rgba(244, 163, 67, 0.8) 60%, rgba(244, 163, 67, 0.8) 100%);
}

.home-section .header-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 8.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

/* 720px */
@media only screen and (max-width: 720px) {
  .home-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(55%, transparent), color-stop(55%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 55%, rgba(244, 163, 67, 0.8) 55%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 640px */
@media only screen and (max-width: 640px) {
  .home-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, transparent), color-stop(45%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, rgba(244, 163, 67, 0.8) 45%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 530px */
@media only screen and (max-width: 530px) {
  .home-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, transparent), color-stop(40%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(244, 163, 67, 0.8) 40%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 460px */
@media only screen and (max-width: 460px) {
  .home-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 30%, rgba(244, 163, 67, 0.8) 30%, rgba(244, 163, 67, 0.8) 100%);
  }
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.navigation > a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 2.5rem;
}

.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 7rem;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
}

.navigation .logo-image {
  font-size: 3rem;
}

.navigation .logo-name {
  font-size: 0.9rem;
  font-weight: 900;
}

.navigation .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.navigation .navigation-links .navigation-link {
  position: relative;
}

.navigation .navigation-links .navigation-link:nth-child(2):hover .genres-list {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.navigation .navigation-links .navigation-link a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .navigation-links .navigation-link a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navigation .navigation-links .navigation-link a .menu-open {
  margin-left: 0.5rem;
}

.navigation .navigation-links .navigation-link:not(:last-child) {
  margin-right: 3rem;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .navigation {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .navigation .navigation-links .navigation-link:not(:last-child) {
    margin-right: 2.5rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .navigation {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navigation .navigation-links .navigation-link:not(:last-child) {
    margin-right: 2rem;
  }
}

/* 740px */
@media only screen and (max-width: 740px) {
  .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .navigation {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* 400px */
@media only screen and (max-width: 400px) {
  .navigation .logo {
    width: 5rem;
    height: 5rem;
  }
  .navigation .logo-image {
    font-size: 1.8rem;
  }
  .navigation .logo-name {
    font-size: 0.8rem;
    font-weight: 900;
  }
  .navigation .navigation-links .navigation-link:not(:last-child) {
    margin-right: 1rem;
  }
  .navigation .navigation-link {
    font-size: 1.3rem;
  }
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.home-page-quotes {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-right: 8rem;
  padding-left: 8rem;
  font-size: 7rem;
  font-style: italic;
  line-height: 1.6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-page-quotes .quote {
  margin-bottom: 5rem;
  position: relative;
}

.home-page-quotes .quote::before {
  position: absolute;
  content: "\201C";
  font-size: 30rem;
  font-family: sans-serif;
  color: rgba(244, 163, 67, 0.35);
  top: -10.5rem;
  left: -3rem;
  z-index: -1;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .home-page-quotes {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* 1150px */
@media only screen and (max-width: 1150px) {
  .home-page-quotes {
    font-size: 6.5rem;
  }
  .home-page-quotes .quote {
    margin-bottom: 0;
  }
}

/* 1150px */
@media only screen and (max-width: 1150px) {
  .home-page-quotes {
    font-size: 6rem;
  }
}

/* 1000px */
@media only screen and (max-width: 1000px) {
  .home-page-quotes {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 5.5rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .home-page-quotes {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 5rem;
  }
}

/* 720px */
@media only screen and (max-width: 720px) {
  .home-page-quotes {
    grid-column: span 2;
    font-size: 7rem;
  }
}

/* 590px */
@media only screen and (max-width: 590px) {
  .home-page-quotes {
    font-size: 6rem;
  }
}

/* 510px */
@media only screen and (max-width: 510px) {
  .home-page-quotes {
    font-size: 5rem;
  }
}

/* 380px */
@media only screen and (max-width: 380px) {
  .home-page-quotes {
    font-size: 4.5rem;
  }
}

.search-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50rem;
  margin-left: auto;
  margin-right: 2.5rem;
  padding-right: 0;
  padding-left: 0;
}

.search-container .search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-container .search-form .search-input {
  width: 100%;
  height: 3.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  padding-left: 1.5rem;
  padding-right: 3rem;
  color: white;
}

.search-container .search-form .search-button-link {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.search-container .search-form .search-button-link .search-button {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

/* 1000px */
@media only screen and (max-width: 1000px) {
  .search-container {
    width: 40rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .search-container {
    width: 30rem;
    margin-right: 2rem;
  }
}

/* 740px */
@media only screen and (max-width: 740px) {
  .search-container {
    width: 100%;
    margin-right: 0;
    margin-top: 1.5rem;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.results-section {
  min-height: 100vh;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
  background-image: linear-gradient(to right, transparent 0%, transparent 60%, rgba(244, 163, 67, 0.8) 60%, rgba(244, 163, 67, 0.8) 100%);
}

/* 720px */
@media only screen and (max-width: 720px) {
  .results-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(55%, transparent), color-stop(55%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 55%, rgba(244, 163, 67, 0.8) 55%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 640px */
@media only screen and (max-width: 640px) {
  .results-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, transparent), color-stop(45%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, rgba(244, 163, 67, 0.8) 45%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 530px */
@media only screen and (max-width: 530px) {
  .results-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, transparent), color-stop(40%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(244, 163, 67, 0.8) 40%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 460px */
@media only screen and (max-width: 460px) {
  .results-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 30%, rgba(244, 163, 67, 0.8) 30%, rgba(244, 163, 67, 0.8) 100%);
  }
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 8rem;
  padding-bottom: 0;
}

.results-container .results-list {
  list-style: none;
  width: calc(60% - 8rem);
}

.results-container .results-list .results-list-item {
  height: 24rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 13rem;
      grid-template-columns: 1fr 13rem;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  position: relative;
}

.results-container .results-list .results-list-item:nth-child(odd) {
  background: rgba(255, 255, 255, 0.5);
}

.results-container .results-list .results-list-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.5);
}

.results-container .results-list .results-list-item:nth-child(even) .book-title {
  color: white;
}

.results-container .results-list .results-list-item:nth-child(even) .book-authors-cont {
  color: white;
}

.results-container .results-list .results-list-item:nth-child(even) .reading-status-container .reading-status {
  background: rgba(255, 255, 255, 0.35);
}

.results-container .results-list .results-list-item .book-title {
  font-size: 2.2rem;
  color: #353535;
}

.results-container .results-list .results-list-item .book-title .results-list-item-link {
  text-decoration: none;
  color: inherit;
}

.results-container .results-list .results-list-item .book-authors-cont {
  font-size: 1.6rem;
  color: #353535;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-container .results-list .results-list-item .book-average-rating .start-rating {
  font-size: 2.6rem;
  margin-right: 0.7rem;
}

.results-container .results-list .results-list-item .book-average-rating .start-rating.full {
  color: #209b80;
}

.results-container .results-list .results-list-item .book-average-rating .start-rating.empty {
  color: rgba(255, 255, 255, 0.5);
}

.results-container .results-list .results-list-item .book-image-cont {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  overflow: hidden;
  border-radius: 12px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.results-container .results-list .results-list-item .book-image-cont .book-image {
  height: 100%;
  width: 100%;
}

.results-container .results-list .results-list-item .reading-status-container .reading-status {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  margin-right: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.results-container .results-list .results-list-item .remove-book-btn {
  background: rgba(244, 163, 67, 0.65);
  height: 2.5rem;
  width: 2.5rem;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  cursor: pointer;
}

.results-container .results-list .results-list-item .remove-book-btn i {
  font-size: 1.5rem;
  color: white;
}

.results-container .results-list .results-list-item .results-list-item-link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results-container .results-list .results-list-item .results-list-item-link.sticker {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  height: 10rem;
  width: 4rem;
  background: rgba(244, 163, 67, 0.65);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  right: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -4px;
  font-size: 1.2rem;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .results-container {
    padding-left: 4rem;
  }
  .results-container .results-list {
    width: calc(60% - 4rem);
  }
}

/* 1130px */
@media only screen and (max-width: 1130px) {
  .results-container .results-list {
    width: 68%;
  }
  .results-container .results-list .results-list-item .results-list-item-link.sticker {
    background: #209b80;
  }
  .results-container .results-list .results-list-item .remove-book-btn {
    background: rgba(0, 0, 0, 0.7);
  }
}

/* 960px */
@media only screen and (max-width: 960px) {
  .results-container
.results-list
.results-list-item
.reading-status-container
.reading-status {
    font-size: 1.1rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .results-container {
    padding-left: 2rem;
  }
  .results-container .results-list {
    width: 100%;
  }
  .results-container .results-list .results-list-item {
    height: 24rem;
    -ms-grid-columns: 1fr 13rem;
        grid-template-columns: 1fr 13rem;
    grid-column-gap: 3rem;
  }
  .results-container .results-list .results-list-item .book-title {
    font-size: 2.2rem;
  }
  .results-container .results-list .results-list-item .book-average-rating .start-rating {
    font-size: 2rem;
  }
  .results-container .results-list .results-list-item .reading-status-container .reading-status {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

/* 740px */
@media only screen and (max-width: 740px) {
  .results-container {
    padding-right: 6rem;
  }
}

/* 680px */
@media only screen and (max-width: 680px) {
  .results-container .results-list {
    width: 100%;
  }
  .results-container .results-list .results-list-item {
    min-height: 22rem;
    -ms-grid-columns: 1fr 12rem;
        grid-template-columns: 1fr 12rem;
    grid-column-gap: 1rem;
  }
  .results-container .results-list .results-list-item .book-title {
    font-size: 2rem;
  }
  .results-container .results-list .results-list-item .reading-status-container .reading-status {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }
}

/* 550px */
@media only screen and (max-width: 550px) {
  .results-container {
    padding-right: 2rem;
  }
  .results-container .results-list .results-list-item .reading-status-container .reading-status {
    margin-top: 0.5rem;
  }
  .results-container .results-list .results-list-item .results-list-item-link.sticker {
    display: none;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .results-container {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .results-container .results-list .results-list-item {
    padding: 1.4rem;
  }
  .results-container .results-list .results-list-item .book-title {
    font-size: 1.8rem;
  }
  .results-container .results-list .results-list-item .book-authors-cont {
    font-size: 1.5rem;
  }
  .results-container .results-list .results-list-item .reading-status-container .reading-status {
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.9rem;
  }
  .results-container .results-list .results-list-item .book-average-rating .start-rating {
    font-size: 1.7rem;
    margin-right: 0.4rem;
  }
  .results-container .results-list .results-list-item .remove-book-btn {
    top: -1.3rem;
    right: -0.6rem;
  }
}

.myCollection-section {
  min-height: 100vh;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
  background-image: linear-gradient(to right, transparent 0%, transparent 60%, rgba(244, 163, 67, 0.8) 60%, rgba(244, 163, 67, 0.8) 100%);
}

/* 720px */
@media only screen and (max-width: 720px) {
  .myCollection-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(55%, transparent), color-stop(55%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 55%, rgba(244, 163, 67, 0.8) 55%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 640px */
@media only screen and (max-width: 640px) {
  .myCollection-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, transparent), color-stop(45%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, rgba(244, 163, 67, 0.8) 45%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 530px */
@media only screen and (max-width: 530px) {
  .myCollection-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, transparent), color-stop(40%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(244, 163, 67, 0.8) 40%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 460px */
@media only screen and (max-width: 460px) {
  .myCollection-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 30%, rgba(244, 163, 67, 0.8) 30%, rgba(244, 163, 67, 0.8) 100%);
  }
}

.myCollection-container .myCollection-nav .myCollection-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.myCollection-container .myCollection-nav .myCollection-nav-list .myCollection-nav-list-shelve-button {
  background: rgba(244, 163, 67, 0.65);
  border-radius: 12px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.myCollection-container .myCollection-nav .myCollection-nav-list .myCollection-nav-list-shelve-button.active {
  background: white;
  color: #f4a343;
}

/* 500px */
@media only screen and (max-width: 500px) {
  .myCollection-container .myCollection-nav .myCollection-nav-list .myCollection-nav-list-shelve-button {
    font-size: 1rem;
  }
}

.genres-list {
  visibility: hidden;
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 1.7rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 15rem;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.genres-list .single-genre:not(:last-child) {
  margin-bottom: 0.9rem;
}

.genres-section {
  min-height: 100vh;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
  background-image: linear-gradient(to right, transparent 0%, transparent 60%, rgba(244, 163, 67, 0.8) 60%, rgba(244, 163, 67, 0.8) 100%);
}

/* 720px */
@media only screen and (max-width: 720px) {
  .genres-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(55%, transparent), color-stop(55%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 55%, rgba(244, 163, 67, 0.8) 55%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 640px */
@media only screen and (max-width: 640px) {
  .genres-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, transparent), color-stop(45%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, rgba(244, 163, 67, 0.8) 45%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 530px */
@media only screen and (max-width: 530px) {
  .genres-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, transparent), color-stop(40%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(244, 163, 67, 0.8) 40%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 460px */
@media only screen and (max-width: 460px) {
  .genres-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 30%, rgba(244, 163, 67, 0.8) 30%, rgba(244, 163, 67, 0.8) 100%);
  }
}

.results-container.genres .genre-description-container {
  width: calc(60% - 8rem);
  margin-bottom: 2rem;
}

.results-container.genres .genre-description-container .genre-description-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.results-container.genres .genre-description-container .genre-description {
  font-size: 1.6rem;
  text-align: justify;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .results-container.genres .genre-description-container {
    width: calc(60% - 4rem);
  }
}

/* 1130px */
@media only screen and (max-width: 1130px) {
  .results-container.genres .genre-description-container {
    width: 68%;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .results-container.genres .genre-description-container {
    width: 100%;
  }
}

.feather-image {
  display: inline-block;
  background-image: url("../images/featherImg.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 30%;
  position: fixed;
  right: 2%;
  bottom: 10%;
}

/* 720px */
@media only screen and (max-width: 720px) {
  .feather-image {
    display: none;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .results-section .feather-image,
  .genres-section .feather-image,
  .myCollection-section .feather-image,
  .single-book-section .feather-image {
    display: none;
  }
}

.next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.next-page .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.next-page .pagination li {
  margin: 0.7rem;
}

.next-page .pagination li.active {
  background: rgba(244, 163, 67, 0.65);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-page .pagination li a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next-page .pagination li a .last-page {
  display: none;
}

/* 1130px */
@media only screen and (max-width: 1130px) {
  .next-page {
    width: 68%;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .next-page {
    width: 100%;
  }
}

.single-book-section {
  min-height: 100vh;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
  background-image: linear-gradient(to right, transparent 0%, transparent 60%, rgba(244, 163, 67, 0.8) 60%, rgba(244, 163, 67, 0.8) 100%);
}

/* 880px */
@media only screen and (max-width: 880px) {
  .single-book-section .results-container {
    padding-right: 2rem;
  }
}

/* 720px */
@media only screen and (max-width: 720px) {
  .single-book-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(55%, transparent), color-stop(55%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 55%, rgba(244, 163, 67, 0.8) 55%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 640px */
@media only screen and (max-width: 640px) {
  .single-book-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(45%, transparent), color-stop(45%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, rgba(244, 163, 67, 0.8) 45%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 530px */
@media only screen and (max-width: 530px) {
  .single-book-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(40%, transparent), color-stop(40%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 40%, rgba(244, 163, 67, 0.8) 40%, rgba(244, 163, 67, 0.8) 100%);
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .single-book-section .results-container {
    padding-right: 1rem;
  }
}

/* 460px */
@media only screen and (max-width: 460px) {
  .single-book-section {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, rgba(244, 163, 67, 0.8)), to(rgba(244, 163, 67, 0.8)));
    background-image: linear-gradient(to right, transparent 0%, transparent 30%, rgba(244, 163, 67, 0.8) 30%, rgba(244, 163, 67, 0.8) 100%);
  }
}

.single-book-description-wrapper {
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.single-book-description-wrapper .single-book-description {
  width: calc(60% - 8rem);
  text-align: justify;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .single-book-description-wrapper {
    padding-left: 4rem;
  }
  .single-book-description-wrapper .single-book-description {
    width: calc(60% - 4rem);
  }
}

/* 1130px */
@media only screen and (max-width: 1130px) {
  .single-book-description-wrapper .single-book-description {
    width: 68%;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .single-book-description-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .single-book-description-wrapper .single-book-description {
    width: 100%;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .single-book-description-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.book-current-status .book-status-list {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 12px;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.results-list-item:nth-child(even) .book-current-status .book-status-list {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
}

.results-list-item:nth-child(even) .book-current-status .book-status-list option {
  background: #c7c6c5;
}

/* 960px */
@media only screen and (max-width: 960px) {
  .book-current-status .book-status-list {
    font-size: 1.1rem;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .book-current-status .book-status-list {
    font-size: 1.5rem;
  }
}

/* 680px */
@media only screen and (max-width: 680px) {
  .book-current-status .book-status-list {
    font-size: 1.1rem;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .book-current-status .book-status-list {
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.9rem;
  }
}

.star-rating-wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
}

.star-rating-wrapper .star-rating {
  width: calc(60% - 8rem);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-rating-wrapper .star-rating .star-rating-text {
  padding: 1.4rem;
}

.star-rating-wrapper .star-rating .stars-wrapper {
  padding: 1.4rem;
}

.star-rating-wrapper .star-rating .stars-wrapper .star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating-wrapper .star-rating .stars-wrapper .star-btn.on {
  color: #209b80;
}

.star-rating-wrapper .star-rating .stars-wrapper .star-btn.off {
  color: rgba(255, 255, 255, 0.5);
}

.star-rating-wrapper .star-rating .stars-wrapper .star-btn i {
  font-size: 2.2rem;
  margin-right: 0.7rem;
}

/* 1250px */
@media only screen and (max-width: 1250px) {
  .star-rating-wrapper {
    padding-left: 4rem;
  }
  .star-rating-wrapper .star-rating {
    width: calc(60% - 4rem);
  }
}

/* 1130px */
@media only screen and (max-width: 1130px) {
  .star-rating-wrapper .star-rating {
    width: 68%;
  }
}

/* 880px */
@media only screen and (max-width: 880px) {
  .star-rating-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .star-rating-wrapper .star-rating {
    width: 100%;
  }
}

/* 500px */
@media only screen and (max-width: 500px) {
  .star-rating-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .star-rating-wrapper .star-rating .stars-wrapper {
    padding-right: 0.5rem;
  }
}

/* 450px */
@media only screen and (max-width: 450px) {
  .star-rating-wrapper .star-rating .stars-wrapper {
    padding-right: 0.7rem;
  }
  .star-rating-wrapper .star-rating .stars-wrapper .star-btn i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

/* 360px */
@media only screen and (max-width: 360px) {
  .star-rating-wrapper .star-rating .star-rating-text {
    font-size: 1.3rem;
  }
  .star-rating-wrapper .star-rating .stars-wrapper .star-btn i {
    font-size: 1.8rem;
    margin-right: 0.4rem;
  }
}

.loading-container {
  height: 400px;
  width: 400px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url("../images/backgroundBook.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/backgroundBook.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */